@using WinterSpine.IdentityServer.Models.Clients
@model ClientViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>@Model.ClientId Details</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ClientId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClientId" class="form-control" />
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClientName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RedirectUris" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <ul id="listRedirectUris" class="list-group">
                    @for (int i = 0; i < Model.RedirectUris.Count; i++)
                    {
                        <li>
                            @Html.HiddenFor(m => Model.RedirectUris[i].Id)
                            @Html.EditorFor(m => Model.RedirectUris[i].RedirectUri, new { htmlAttributes = new { @class = "form-control" } })
                            <a href="#" onclick="onRemoved(this, 'RedirectUris')">Delete</a>
                        </li>
                    }
                </ul>

                <input id="btnAddRedirectUri" type="button" onclick="onAdded('RedirectUris')" value="Add" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PostLogoutRedirectUris" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <ul id="listPostLogoutRedirectUris" class="list-group">
                    @for (int i = 0; i < Model.PostLogoutRedirectUris.Count; i++)
                    {
                        <li>
                            @Html.HiddenFor(m => Model.PostLogoutRedirectUris[i].Id)
                            @Html.EditorFor(m => Model.PostLogoutRedirectUris[i].RedirectUri, new { htmlAttributes = new { @class = "form-control" } })
                            <a href="#" onclick="onRemoved(this, 'PostLogoutRedirectUris')">Delete</a>
                        </li>
                    }
                </ul>

                <input id="btnAddPostLogoutRedirectUri" type="button" onclick="onAdded('PostLogoutRedirectUris')" value="Add" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(function () {
            // TODO: Add Click events etc.
        });

        function onAdded(name) {
            var i = $("#list" + name + " li").length;
            $("#list" + name).append('<li><input class="form-control text-box single-line valid" id="' + name + '_' + i + '__RedirectUri" name="' + name + '[' + i + '].RedirectUri" type="text" value="" aria-invalid="false">' +
                '<a href="#" onclick="onRemoved(this, name)">Delete</a>' +
                '</li > ');
        }

        function onRemoved(control, name) {
            console.log(name);
            $(control).parent().remove();
            fnUpdateList(name);
        }

        function fnUpdateList(name) {
            var ul = document.getElementById("list" + name);
            var items = ul.getElementsByTagName("li");
            for (var i = 0; i < items.length; ++i) {
                $(items[i]).find("input[name^='RedirectUri']").attr('id', name + '_' + i + '__RedirectUri');
                $(items[i]).find("input[name^='RedirectUri']").attr('name', name + '[' + i + '].RedirectUri');
            }
        }
    </script>
}
