@model IEnumerable<WinterSpine.IdentityServer.Models.Clients.ClientViewModel>

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RedirectUris)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostLogoutRedirectUris)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.Partial("~/Views/Clients/DisplayTemplates/ClientUrisDisplay.cshtml", item.RedirectUris)
                </td>
                <td>
                    @Html.Partial("~/Views/Clients/DisplayTemplates/ClientUrisDisplay.cshtml", item.PostLogoutRedirectUris)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { Id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
